<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhlh.zeus.dao.mapper.CityMapper" >
  <resultMap id="BaseResultMap" type="com.zhlh.zeus.dao.model.City" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="region_code" property="regionCode" jdbcType="VARCHAR" />
    <result column="region_name" property="regionName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="city_level" property="cityLevel" jdbcType="VARCHAR" />
    <result column="short_name_spell" property="shortNameSpell" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="province_short_name" property="provinceShortName" jdbcType="VARCHAR" />
    <result column="sup_city_code" property="supCityCode" jdbcType="VARCHAR" />
    <result column="short_name" property="shortName" jdbcType="VARCHAR" />
    <result column="license_Info" property="licenseInfo" jdbcType="VARCHAR" />
    <result column="start_license" property="startLicense" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, region_code, region_name, code, city_level, short_name_spell, name, province_short_name, 
    sup_city_code, short_name, license_Info, start_license
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from city
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhlh.zeus.dao.model.City" >
    insert into city (id, region_code, region_name, 
      code, city_level, short_name_spell, 
      name, province_short_name, sup_city_code, 
      short_name, license_Info, start_license
      )
    values (#{id,jdbcType=INTEGER}, #{regionCode,jdbcType=VARCHAR}, #{regionName,jdbcType=VARCHAR}, 
      #{code,jdbcType=VARCHAR}, #{cityLevel,jdbcType=VARCHAR}, #{shortNameSpell,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{provinceShortName,jdbcType=VARCHAR}, #{supCityCode,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{licenseInfo,jdbcType=VARCHAR}, #{startLicense,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhlh.zeus.dao.model.City" >
    insert into city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="regionCode != null" >
        region_code,
      </if>
      <if test="regionName != null" >
        region_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="cityLevel != null" >
        city_level,
      </if>
      <if test="shortNameSpell != null" >
        short_name_spell,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="provinceShortName != null" >
        province_short_name,
      </if>
      <if test="supCityCode != null" >
        sup_city_code,
      </if>
      <if test="shortName != null" >
        short_name,
      </if>
      <if test="licenseInfo != null" >
        license_Info,
      </if>
      <if test="startLicense != null" >
        start_license,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="regionCode != null" >
        #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="cityLevel != null" >
        #{cityLevel,jdbcType=VARCHAR},
      </if>
      <if test="shortNameSpell != null" >
        #{shortNameSpell,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceShortName != null" >
        #{provinceShortName,jdbcType=VARCHAR},
      </if>
      <if test="supCityCode != null" >
        #{supCityCode,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="licenseInfo != null" >
        #{licenseInfo,jdbcType=VARCHAR},
      </if>
      <if test="startLicense != null" >
        #{startLicense,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhlh.zeus.dao.model.City" >
    update city
    <set >
      <if test="regionCode != null" >
        region_code = #{regionCode,jdbcType=VARCHAR},
      </if>
      <if test="regionName != null" >
        region_name = #{regionName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="cityLevel != null" >
        city_level = #{cityLevel,jdbcType=VARCHAR},
      </if>
      <if test="shortNameSpell != null" >
        short_name_spell = #{shortNameSpell,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="provinceShortName != null" >
        province_short_name = #{provinceShortName,jdbcType=VARCHAR},
      </if>
      <if test="supCityCode != null" >
        sup_city_code = #{supCityCode,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null" >
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="licenseInfo != null" >
        license_Info = #{licenseInfo,jdbcType=VARCHAR},
      </if>
      <if test="startLicense != null" >
        start_license = #{startLicense,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhlh.zeus.dao.model.City" >
    update city
    set region_code = #{regionCode,jdbcType=VARCHAR},
      region_name = #{regionName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      city_level = #{cityLevel,jdbcType=VARCHAR},
      short_name_spell = #{shortNameSpell,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      province_short_name = #{provinceShortName,jdbcType=VARCHAR},
      sup_city_code = #{supCityCode,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      license_Info = #{licenseInfo,jdbcType=VARCHAR},
      start_license = #{startLicense,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>